.Answers {
  &-Inner {
    margin-bottom: 30px;
  }

  &-Single {
    background-color: $secondary-accent-2;
    max-width: 24%;
    max-height: 200px;
    padding: 15px;
    margin-bottom: 7px;
    overflow: hidden;
  }
}

@include mq-max(991px) {
  .Answers {
    &-Single {
      max-width: 49%;
    }
  }
}

@include mq-max(767px) {
  .Answers {
    &-Inner {
      margin-bottom: 15px;
    }
  }
}

@include mq-max(540px) {
  .Answers {
    &-Single {
      max-width: 100%;
    }
  }
}
