.Button {
  max-width: 150px;
  height: 40px;
  color: $secondary-text;
  border: none;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  cursor: pointer;

  &_Send {
    background-color: $primary-active-elements;
  }
}

.ButtonUnderscore {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  display: inline-block;
  font-size: 1.2rem;
  font-weight: 500;
  color: $primary-active-elements;
  padding-bottom: 3px;
  border-bottom: 1px solid $primary-active-elements;
  cursor: pointer;
  transition: all 0.3s ease;

  &:hover {
    color: $secondary-accent-3;
    border-bottom: 1px solid $secondary-accent-3;
  }
}
