.Contacts {
  /* height: 130px; */
  height: 100px;
  border-bottom: 1px solid $primary-accent-1;
  justify-content: space-between;

  &-Phone {
    /* text-align: center; */
  }

  &-Mail {
    text-align: right;
    padding-right: 60px;
  }
}

@include mq-max(991px) {
  .Contacts {
    height: 85px;
  }
}

@include mq-max(768px) {
  .Contacts {
    justify-content: space-around;
  }
}

@include mq-max(700px) {
  .Contacts {
    &-Mail {
      padding-right: 40px;
    }
  }
}
