.Favs {
  position: absolute;

  &_Header {
    top: 30px;
    right: 0;
  }

  &_Project {
    top: 15px;
    right: 15px;
  }

  &-Icon {
    @extend %fa-icon;
    @extend .far;

    &:before {
      content: fa-content($fa-var-star);
      font-size: 1.5rem;
      color: $primary-bg;
    }

    &_Active {
      @extend %fa-icon;
      @extend .fas;

      &:before {
        content: fa-content($fa-var-star);
        font-size: 1.5rem;
        color: $secondary-accent-3;
      }
    }
  }
}

@include mq-max(900px) {
  .Favs {
    &_Header {
      top: 70%;
      right: 35%;
    }
  }
}

@include mq-max(768px) {
  .Favs {
    &_Header {
      top: 72%;
    }
  }
}

@include mq-max(700px) {
  .Favs {
    &_Header {
      right: 28%;
    }
  }
}

@include mq-max(575px) {
  .Favs {
    &_Header {
      top: 85%;
      right: 40%;
    }
  }
}

@include mq-max(480px) {
  .Favs {
    &_Header {
      right: 37%;
    }
  }
}

@include mq-max(400px) {
  .Favs {
    &_Header {
      top: 87%;
    }
  }
}

@include mq-max(380px) {
  .Favs {
    &_Header {
      right: 33%;
    }
  }
}

@include mq-max(300px) {
  .Favs {
    &_Header {
      right: 28%;
    }
  }
}

@include mq-max(275px) {
  .Favs {
    &_Header {
      right: 25%;
    }
  }
}

@include mq-max(260px) {
  .Favs {
    &_Header {
      right: 23%;
    }
  }
}
