.FooterSection {
  margin-bottom: 15px;

  &:nth-of-type(2) {
    padding-left: 10%;
  }
  &:last-child {
    text-align: right;
  }

  &-Socials {
    justify-content: flex-end;
  }

  &-Title {
    font-size: 1.1rem;
    font-weight: 500;
    margin-bottom: 13px;
  }

  &-Link {
    color: $secondary-text;
    transition: color 0.2s ease;

    &:hover {
      color: $secondary-accent-3;
    }
  }

  &-Item {
    margin-bottom: 4px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

@include mq-max(575px) {
  .FooterSection {
    &-Title {
      margin-bottom: 7px;
    }

    &:nth-of-type(2) {
      padding-left: 0;
    }
    &:last-child {
      text-align: left;
    }

    &-Socials {
      justify-content: flex-start;
    }
  }
}
