.Form {
  max-width: 600px;
  margin: 0 auto;

  &-Outer {
    margin-top: 100px;
    margin-bottom: 100px;
  }

  &-Title {
    font-size: 1.7rem;
    margin-bottom: 30px;
  }

  &-Label {
    color: $primary-text;
    font-size: 1.2rem;
    margin-bottom: 20px;

    &:last-child {
      margin-bottom: 30px;
    }
  }

  &-Input,
  &-Textarea {
    width: 100%;
    margin: 5px auto 0;
    border: 1px solid $primary-accent-1;
    padding-left: 15px;
    padding-right: 15px;
  }

  &-Input {
    height: 40px;
  }

  &-Textarea {
    height: 100px;
  }

  &-Checkbox {
    margin-right: 5px;
  }
}

@include mq-max(767px) {
  .Form {
    &-Outer {
      margin-top: 50px;
      margin-bottom: 50px;
    }
  }
}

@include mq-max(575px) {
  .Form {
    &-Label {
      font-size: 1rem;
    }
    &-Title {
      font-size: 1.5rem;
    }
  }
}
