.HeaderPhone {
  &-Number {
    font-size: 1.2rem;
    margin-bottom: 10px;
  }

  &-Order {
    /* max-width: 126px;
    color: $primary-active-elements;
    padding-bottom: 3px;
    border-bottom: 1px solid $primary-active-elements; */
  }
}
