.HouseVariants {
  position: relative;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  max-width: 880px;
  background-color: $secondary-bg;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 1px 4px rgba($secondary-black, 0.25);

  &-Single {
    width: 220px;
    height: 180px;
    border: 1px solid $secondary-accent-1;
    position: relative;
    cursor: pointer;

    &:hover {
      background-color: $secondary-accent-2;
    }
  }

  &-SingleInner {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }

  &-Img {
    width: 120px;
    /* position: relative;
    top: 50%;
    transform: translateY(-50%); */
  }
  &-Text {
    margin-top: 22px;
    font-size: 1.25rem;
  }
}
