.NewsSlider {
  position: relative;

  &-Left,
  &-Right {
    @extend %fa-icon;
    @extend .fas;
    position: absolute;
    width: 55px;
    height: 55px;
    color: $secondary-text;
    font-size: 3.5rem;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
  }

  &-Left {
    left: 15px;
    &:before {
      content: fa-content($fa-var-chevron-left);
    }
  }

  &-Right {
    right: 15px;
    &:before {
      content: fa-content($fa-var-chevron-right);
    }
  }
}
.NewsSlide {
  position: relative;

  &-TextBg {
    position: absolute;
    background-color: rgba($primary-bg, 0.65);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 30px;
    text-align: center;
  }

  &-Text {
    color: $secondary-text;
    font-size: 2.1rem;
    font-weight: 500;
    line-height: 3rem;
  }
}
