.News {
  position: relative;

  &-Inner {
    margin-bottom: 30px;
  }

  &-Single {
    width: 300px;
    margin-bottom: 15px;
  }

  &-Title {
    margin-top: 5px;
    font-weight: 500;
  }
  &-Date {
    margin-top: 5px;
  }
}
