.PopularHouses {
  &-Single {
    position: relative;
    margin-bottom: 7px;
    max-width: 425px;
  }

  &-Info {
    position: absolute;
    bottom: 10px;
    left: 10px;
    padding: 5px 7px;
    background-color: $primary-active-elements;
    color: $secondary-text;
    font-weight: 500;

    & > p:last-child {
      margin-top: 5px;
    }
  }
}
