.Socials {
  margin-top: 5px;
  display: flex;
  flex-flow: row nowrap;

  &_JCFE {
    justify-content: flex-end;
  }
  &_JCFS {
    justify-content: flex-start;
  }

  &_Header {
  }

  &-Icon {
    margin-right: 5px;
    color: $secondary-text;
    position: relative;
    width: 32px;
    height: 32px;
    cursor: pointer;
    transition: opacity 0.3s ease;

    &:last-child {
      margin-right: 0;
    }

    &:hover {
      opacity: 0.85;
    }

    &_Vk {
      @extend %fa-icon;
      @extend .fab;
      background-color: $vk_bg;
      border-radius: 100%;

      &::before {
        position: relative;
        display: block;
        content: fa-content($fa-var-vk);
        top: 50%;
        transform: translateY(-50%);
        font-size: 1.3rem;
      }
    }

    &_Fb {
      @extend %fa-icon;
      @extend .fab;
      background-color: $facebook_bg;
      border-radius: 100%;

      &::before {
        position: relative;
        display: block;
        content: fa-content($fa-var-facebook-f);
        font-size: 1.3rem;
        top: 50%;
        transform: translateY(-50%);
      }
    }

    &_Inst {
      @extend %fa-icon;
      @extend .fab;
      background-color: $instagram_bg;
      border-radius: 100%;

      &::before {
        position: relative;
        display: block;
        content: fa-content($fa-var-instagram);
        font-size: 1.3rem;
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }
}

@include mq-max(400px) {
  .Socials {
    &_Header {
      justify-content: center;
    }
  }
}
