.Footer {
  position: relative;
  color: $secondary-text;
  padding-bottom: 20px;
  padding-top: 30px;
  padding-right: 15px;
  padding-left: 15px;
  max-width: 1330px;
  margin-right: auto;
  margin-left: auto;

  &-Outer {
    background-color: $primary-bg;
  }
}
