.Header {
  position: relative;
  /* height: 230px; */
  height: 200px;
  padding-top: 20px;

  &-Info {
    width: 80%;
  }

  &_Fixed {
    background-color: $secondary-black;

    & > .Header {
      height: 70px;
    }

    & .Logo-Img {
      width: 200px;
    }
  }
}

@include mq-max(991px) {
  .Header {
    height: 185px;
  }
}

@include mq-max(768px) {
  .Header {
    height: 170px;
  }
}

@include mq-max(700px) {
  .Header {
    &-Info {
      width: 75%;
    }
  }
}

@include mq-max(575px) {
  .Header {
    height: auto;

    &-Info {
      width: 100%;
    }
  }
}
