.Answers-Outer.Section.Container
  .Answers
    h2.Section-Title.Text_Uppercase Отзывы
    .Block.Block_SpaceBetween.No-Gutters
      div.Answers-Single
        p Благодарим Вас за хорошую и качественную работу. Строительство дома было произведено в сроки указанные в договоре.
        | Огромное спасибо бригаде Игоря, которая проявила настоящий профессионализм, мастерство и оперативность по возведению
        | дома из СИП-панелей, на любой вопрос ...
      div.Answers-Single
        p Заказали пристройку к дому в фирме "Теплофф" и не пожалели!
        |Свайное поле установили в короткий срок, а вот потом было долгое ожидание домокомплекта. Но все переживания были
        |компенсированы профессиональной работой бригады под руководством Алексея. Ребята работали очень слаженно и быстро.
      div.Answers-Single
        p Благодарим Вас за хорошую и качественную работу. Строительство дома было произведено в сроки указанные в договоре.
        | Огромное спасибо бригаде Игоря, которая проявила настоящий профессионализм, мастерство и оперативность по возведению
        | дома из СИП-панелей, на любой вопрос ...
      div.Answers-Single
        p Заказали пристройку к дому в фирме "Теплофф" и не пожалели!
        |Свайное поле установили в короткий срок, а вот потом было долгое ожидание домокомплекта. Но все переживания были
        |компенсированы профессиональной работой бригады под руководством Алексея. Ребята работали очень слаженно и быстро.
    a.Answers-ShowAll Все отзывы
