.Block
  p Отзывы
  div
    p Благодарим Вас за хорошую и качественную работу. Строительство дома было произведено в сроки указанные в договоре.
    | Огромное спасибо бригаде Игоря, которая проявила настоящий профессионализм, мастерство и оперативность по возведению
    | дома из СИП-панелей, на любой вопрос ...
  div
    p Заказали пристройку к дому в фирме "Теплофф" и не пожалели!
    |Свайное поле установили в короткий срок, а вот потом было долгое ожидание домокомплекта. Но все переживания были
    |компенсированы профессиональной работой бригады под руководством Алексея. Ребята работали очень слаженно и быстро.
  div
    p Благодарим Вас за хорошую и качественную работу. Строительство дома было произведено в сроки указанные в договоре.
    | Огромное спасибо бригаде Игоря, которая проявила настоящий профессионализм, мастерство и оперативность по возведению
    | дома из СИП-панелей, на любой вопрос ...
  div
    p Заказали пристройку к дому в фирме "Теплофф" и не пожалели!
    |Свайное поле установили в короткий срок, а вот потом было долгое ожидание домокомплекта. Но все переживания были
    |компенсированы профессиональной работой бригады под руководством Алексея. Ребята работали очень слаженно и быстро.
  p Все отзывы
