footer.Footer-Outer.Container_Wide
  .Footer
    .Footer-Sections.Block.Block_SpaceBetween.No-Gutters
      div.FooterSection.Col4
        p.FooterSection-Title Проекты
        ul.FooterSection-Menu
          li.FooterSection-Item
            a.FooterSection-Link(href="#") Дома из SIP
          li.FooterSection-Item
            a.FooterSection-Link(href="#") Дома каркас
          li.FooterSection-Item
            a.FooterSection-Link(href="#") Дома из дерева
          li.FooterSection-Item
            a.FooterSection-Link(href="#") Дома из кирпича

      div.FooterSection.Col4
        p.FooterSection-Title Компания
        ul.FooterSection-Menu
          li.FooterSection-Item
            a.FooterSection-Link(href="#") Отзывы
          li.FooterSection-Item
            a.FooterSection-Link(href="#") Цены
          li.FooterSection-Item
            a.FooterSection-Link(href="#") Бригады

      div.FooterSection.Col4
        p.FooterSection-Title Контакты
        ul.FooterSection-Menu
          li.FooterSection-Item +7 (800) 550-40-56
          li.FooterSection-Item teploff43@yandex.ru
          li.FooterSection-Item соц сети

    .Copyright.Text_Center
      p.Copyright-Text При использовании материалов сайта ссылка на первоисточник обязательна. Все права защищены.
      p.Copyright-Text &copy; 2013 - 2020 - ООО «СИП СТРОЙ», 2020
    img.Sipa(src="./images/sipa.png" alt="СИПА")
