footer.Footer-Outer.Container_Wide
  .Footer
    .Copyright.Text_Center
      p.Copyright-Text При использовании материалов сайта ссылка на первоисточник обязательна. Все права защищены.
      p.Copyright-Text &copy; 2013 - 2020 - ООО «СИП СТРОЙ», 2020
    img.Sipa(src="./images/sipa.png" alt="СИПА")
