footer.Footer-Outer.Container_Wide
  .Footer
    div
      p Проекты
      ul
        li Дома из SIP
        li Дома каркас
        li Дома из дерева
        li Дома из кирпича

    div
      p Компания
      ul
        li Отзывы
        li Цены
        li Бригады

    div
      p Контакты
      ul
        li +7 (800) 550-40-56
        li teploff43@yandex.ru
        li соц сети

    .Copyright.Text_Center
      p.Copyright-Text При использовании материалов сайта ссылка на первоисточник обязательна. Все права защищены.
      p.Copyright-Text &copy; 2013 - 2020 - ООО «СИП СТРОЙ», 2020
    img.Sipa(src="./images/sipa.png" alt="СИПА")
