div
  div
    img(src="./images/bigThumbs.jpg", alt="1")
  div
    img(src="./images/thumbs01.jpg", alt="1")
  div
    img(src="./images/thumbs02.jpg", alt="1")
  div
    img(src="./images/thumbs03.jpg", alt="1")
  div
    img(src="./images/thumbs04.jpg", alt="1")
  div
    img(src="./images/thumbs05.jpg", alt="1")
  div
    img(src="./images/thumbs06.jpg", alt="1")