.HouseVariants
  .HouseVariants-Single.Text_Center.Text_Uppercase
    div.HouseVariants-SingleInner
        img.HouseVariants-Img(src="./images/housetype01.png", alt="1")
        p.HouseVariants-Text ДОМА ИЗ SIP
  .HouseVariants-Single.Text_Center.Text_Uppercase
    div.HouseVariants-SingleInner
      img.HouseVariants-Img(src="./images/housetype02.png", alt="1")
      p.HouseVariants-Text ДОМА ИЗ КАРКАСА
  .HouseVariants-Single.Text_Center.Text_Uppercase
    div.HouseVariants-SingleInner
      img.HouseVariants-Img(src="./images/housetype03.png", alt="1")
      p.HouseVariants-Text ДОМА ИЗ ДЕРЕВА
  .HouseVariants-Single.Text_Center.Text_Uppercase
    div.HouseVariants-SingleInner
      img.HouseVariants-Img(src="./images/housetype04.png", alt="1")
      p.HouseVariants-Text ДОМА ИЗ КАМНЯ