div
  h4 Комплектация
  p Проект
  p Разработка проекта с учетом пожелания Заказчика.
  p Подготовка технической документации для согласования с БТИ.
  p 3-D визуализация проекта дома с учетом пожелания заказчика по отделочным материалам.

  p Фундамент
  p Выезд бригадира на пробное завинчивание сваи (3 точки).
  p Измерение перепадов участка.
  p Оценка состояния участка и грунта.
  p Ввинчивание гидробуром (спец. техника), обрезка в проектный уровень, бетонирование ствола сваи.

  p Организация строительных работ
  p Доставка (индивидуально). Погрузочно-разгрузочные работы.
  p Фоторепортаж ОНЛАЙН строительства дома  на сайте компании.
  p Монтаж домокомплекта, штатными бригадами Теплофф (русские, не пьющие). Постоянный технический надзор.
  p Оплата 10-30-30-20-10% (окончательный расчет - после подписания акта выполенных работ)
  p Подписание  промежуточных актов выполенных этапов работ.
  p Увеличенная гарантия 7 лет. Сборка домокомплекта на участке Заказчика - 14 дней.

  h4 ДОПОЛНИТЕЛЬНАЯ КОМПЛЕКТАЦИЯ ПО ЖЕЛАНИЮ ЗАКАЗЧИКА
  p Фундамент
  p Двери, вентиляция
  p Кровля
  p Отделка дома
  p Доставка и проживание бригады