div.HouseParams.ColLg3.Col12
  .HouseParams-Inner
    .HouseParams-Params
      div.HouseParams-Item
        p Площадь
        p 150 м
          sup 2
      div.HouseParams-Item
        p Количество комнат
        p 3
      div.HouseParams-Item
        p Цена
        p 1 200 000 руб
    .HouseParams-Buttons
      button.Button.Button_InParams.Button_Green Заказ звонка
      button.Button.Button_InParams.Button_Green Отправить заявку
      button.Button.Button_InParams.Button_Brown Изменение планировки
      button.Button.Button_InParams.Button_Brown Заявка на кредит
