.HouseVariants
  div.HouseVariants-Single.Text_Center.Text_Uppercase
    img.HouseVariants-Img(src="./images/housetype01.png", alt="1")
    p.HouseVariants-Text ДОМА ИЗ SIP
  div.HouseVariants-Single.Text_Center.Text_Uppercase
    img.HouseVariants-Img(src="./images/housetype02.png", alt="1")
    p.HouseVariants-Text ДОМА ИЗ КАРКАСА
  div.HouseVariants-Single.Text_Center.Text_Uppercase
    img.HouseVariants-Img(src="./images/housetype03.png", alt="1")
    p.HouseVariants-Text ДОМА ИЗ ДЕРЕВА
  div.HouseVariants-Single.Text_Center.Text_Uppercase
    img.HouseVariants-Img(src="./images/housetype04.png", alt="1")
    p.HouseVariants-Text ДОМА ИЗ КАМНЯ