div
  div
    p Площадь
    p 150 м
      sup 2
  div
    p Количество комнат
    p 3
  div
    p Цена
    p 1 200 000 руб
  button Заказ звонка
  button Отправить заявку
  button Изменение планировки
  button Заявка на кредит
