.Block
  div
    img(src="./images/housetype01.png", alt="1")
    p ДОМА ИЗ SIP
  div
    img(src="./images/housetype02.png", alt="1")
    p ДОМА ИЗ КАРКАСА
  div
    img(src="./images/housetype03.png", alt="1")
    p ДОМА ИЗ ДЕРЕВА
  div
    img(src="./images/housetype04.png", alt="1")
    p ДОМА ИЗ КАМНЯ