.Block
  p Новости
  div
    img(src="./images/news01.jpg", alt="1")
    div
      p 01.12.2019
      p ЗИМА - лучшее время для СИП строительства.
  div
    img(src="./images/news02.jpg", alt="1")
    div
      p 25.10.2019
      p Добавлены новые проекты деревянных домов
  div
    img(src="./images/news01.jpg", alt="1")
    div
      p 01.12.2019
      p ЗИМА - лучшее время для СИП строительства.
  div
    img(src="./images/news02.jpg", alt="1")
    div
      p 25.10.2019
      p Добавлены новые проекты деревянных домов
  div
    img(src="./images/news01.jpg", alt="1")
    div
      p 01.12.2019
      p ЗИМА - лучшее время для СИП строительства.
  div
    img(src="./images/news02.jpg", alt="1")
    div
      p 25.10.2019
      p Добавлены новые проекты деревянных домов
  div
    img(src="./images/news01.jpg", alt="1")
    div
      p 01.12.2019
      p ЗИМА - лучшее время для СИП строительства.
  div
    img(src="./images/news02.jpg", alt="1")
    div
      p 25.10.2019
      p Добавлены новые проекты деревянных домов
  p Все новости