.Block
  p Популярные проекты
  div
    img(src="./images/popilar01.jpg", alt="1")
    div
      p 152 м2
      p 1 528 000
  div
    img(src="./images/popilar02.jpg", alt="1")
    div
      p 152 м2
      p 1 528 000
  div
    img(src="./images/popilar03.jpg", alt="1")
    div
      p 152 м2
      p 1 528 000
  div
    img(src="./images/popilar04.jpg", alt="1")
    div
      p 152 м2
      p 1 528 000
  div
    img(src="./images/popilar05.jpg", alt="1")
    div
      p 152 м2
      p 1 528 000
  div
    img(src="./images/popilar06.jpg", alt="1")
    div
      p 152 м2
      p 1 528 000
  div
    img(src="./images/popilar07.jpg", alt="1")
    div
      p 152 м2
      p 1 528 000
  div
    img(src="./images/popilar08.jpg", alt="1")
    div
      p 152 м2
      p 1 528 000
  div
    img(src="./images/popilar09.jpg", alt="1")
    div
      p 152 м2
      p 1 528 000