.PopularHouses-Outer.Section.Container
  .PopularHouses
    h2.Section-Title.Text_Uppercase Популярные проекты
    .Block.Block_SpaceBetween.No-Gutters
      div.PopularHouses-Single.ColLg4
        div.PopularHouses-Info
          p.PopularHouses-Text 152 м
            sup 2
          p.PopularHouses-Text 1 528 000 р.
        img.PopularHouses-Img(src="./images/popilar01.jpg", alt="1")

      div.PopularHouses-Single.ColLg4
        div.PopularHouses-Info
          p.PopularHouses-Text 152 м
            sup 2
          p.PopularHouses-Text 1 528 000 р.
        img.PopularHouses-Img(src="./images/popilar02.jpg", alt="1")

      div.PopularHouses-Single.ColLg4
        div.PopularHouses-Info
          p.PopularHouses-Text 152 м
            sup 2
          p.PopularHouses-Text 1 528 000 р.
        img.PopularHouses-Img(src="./images/popilar03.jpg", alt="1")

      div.PopularHouses-Single.ColLg4
        div.PopularHouses-Info
          p.PopularHouses-Text 152 м
            sup 2
          p.PopularHouses-Text 1 528 000 р.
        img.PopularHouses-Img(src="./images/popilar04.jpg", alt="1")

      div.PopularHouses-Single.ColLg4
        div.PopularHouses-Info
          p.PopularHouses-Text 152 м
            sup 2
          p.PopularHouses-Text 1 528 000 р.
        img.PopularHouses-Img(src="./images/popilar05.jpg", alt="1")

      div.PopularHouses-Single.ColLg4
        div.PopularHouses-Info
          p.PopularHouses-Text 152 м
            sup 2
          p.PopularHouses-Text 1 528 000 р.
        img.PopularHouses-Img(src="./images/popilar06.jpg", alt="1")

      div.PopularHouses-Single.ColLg4
        div.PopularHouses-Info
          p.PopularHouses-Text 152 м
            sup 2
          p.PopularHouses-Text 1 528 000 р.
        img.PopularHouses-Img(src="./images/popilar07.jpg", alt="1")

      div.PopularHouses-Single.ColLg4
        div.PopularHouses-Info
          p.PopularHouses-Text 152 м
            sup 2
          p.PopularHouses-Text 1 528 000 р.
        img.PopularHouses-Img(src="./images/popilar08.jpg", alt="1")

      div.PopularHouses-Single.ColLg4
        div.PopularHouses-Info
          p.PopularHouses-Text 152 м
            sup 2
          p.PopularHouses-Text 1 528 000 р.
        img.PopularHouses-Img(src="./images/popilar09.jpg", alt="1")