.Raschet-Outer.Section.Container
  .Raschet
    h2.Section-Title.Text_Uppercase РАСЧЕТ СТОИМОСТИ ВАШЕГО ПРОЕКТА
    p У Вас есть свой проект, эскиз или только размеры и Вы хотите узнать стоимость строительства?
    .Block.Block_SpaceBetween.No-Gutters
      div
        p Свяжитесь с одним из наших офисов по телефону
        p +7 (800) 550-40-56
      div
        p Присылайте нам на электронную почту, и мы расчитаем его
        p teploff43@yandex.ru