div
  h4 ПОХОЖИЕ ПРОЕКТЫ
  div
    div
      img(src="./images/same01.jpg", alt="1")
      p Название проекта
      p Площадь 120 м2
    div
      img(src="./images/same02.jpg", alt="1")
      p Название проекта
      p Площадь 150 м2
    div
      img(src="./images/same03.jpg", alt="1")
      p Название проекта
      p Площадь 120 м2