div.SameProjects.Container
  h4.SameProjects-Title.Text_Uppercase ПОХОЖИЕ ПРОЕКТЫ
  div.SameProjects-Set
    div.SameProjects-Item
      img(src="./images/same01.jpg", alt="1")
      p.SameProjects-Text Название проекта
      p.SameProjects-Text Площадь 120 м
        sup 2
    div.SameProjects-Item
      img(src="./images/same02.jpg", alt="1")
      p.SameProjects-Text Название проекта
      p.SameProjects-Text Площадь 150 м
        sup 2
    div.SameProjects-Item
      img(src="./images/same03.jpg", alt="1")
      p.SameProjects-Text Название проекта
      p.SameProjects-Text Площадь 120 м
        sup 2
    div.SameProjects-Item
      img(src="./images/same02.jpg", alt="1")
      p.SameProjects-Text Название проекта
      p.SameProjects-Text Площадь 150 м
        sup 2
    div.SameProjects-Item
      img(src="./images/same03.jpg", alt="1")
      p.SameProjects-Text Название проекта
      p.SameProjects-Text Площадь 120 м
        sup 2
    div.SameProjects-Item
      img(src="./images/same02.jpg", alt="1")
      p.SameProjects-Text Название проекта
      p.SameProjects-Text Площадь 150 м
        sup 2