.Form-Outer
.Block
  h3.Form-Title Оставьте вашу заявку
  label.Form-Label Ваше имя
    input.Form-Input(type="text")
  label.Form-Label Ваш телефон
    input(type="text")
  label.Form-Label Ваш e-mail
    input(type="text")
  label.Form-Label Сообщение
    input(type="text")
  label.Form-Label
    input(type="checkbox")
    span Согласие на обработку персональных данных
  button.Button.Button_Send Отправить