.Block
  p Оставьте вашу заявку
  p Ваше имя
  input(type="text")
  p Ваш телефон
  input(type="text")
  p Ваш e-mail
  input(type="text")
  p Сообщение
  input(type="text")
  input(type="checkbox")
  p Согласие на обработку персональных данных
  button Отправить