.NewsSlider.Container
  .NewsSlide
    .NewsSlide-TextBg
      p.NewsSlide-Text Ваша выгода в январе-феврале от 50 до 200 тысяч рублей!
    img.NewsSlide-Img(src="../images/slider_bg.jpg" alt="news")
  p.NewsSlider-Left.Text_Center
  p.NewsSlider-Right.Text_Center