.Block
  p Стройка онлайн
  div
    img(src="./images/online01.jpg", alt="1")
    div
      p Дом 179 м2
      p Московская область, Наро-Фоминский район, СНТ “Лесное”
  div
    img(src="./images/online02.jpg", alt="1")
    div
      p Дом 189 м2
      p Москва, поселение Вороновское, пос. ЛМС
  div
    img(src="./images/online03.jpg", alt="1")
    div
      p Дом 179 м2
      p Московская область, Наро-Фоминский район, СНТ “Лесное”