.Stroika-Outer.Section.Container
  .Stroika
    h2.Section-Title.Text_Uppercase Стройка онлайн
    .Block.Block_SpaceBetween.No-Gutters
      div.Stroika-Single
        img(src="./images/online01.jpg", alt="1")
        div.Stroika-Info
          p Дом 179 м2
          p Московская область, Наро-Фоминский район, СНТ “Лесное”
      div.Stroika-Single
        img(src="./images/online02.jpg", alt="1")
        div.Stroika-Info
          p Дом 189 м2
          p Москва, поселение Вороновское, пос. ЛМС
      div.Stroika-Single
        img(src="./images/online03.jpg", alt="1")
        div.Stroika-Info
          p Дом 179 м2
          p Московская область, Наро-Фоминский район, СНТ “Лесное”